nav {
  font-size: 15px;
  font-weight: 600;
}
.bg-body-tertiary {
  background-color: transparent !important ;
}
.navbar-nav .nav-link.active {
  position: relative;
}
.navbar-nav .nav-link.active:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
  transition: all 0.3s ease;
}
.scrolled {
  background-color: #fff !important;
  transition: background-color 0.6s linear;
}
.title {
}
.product-box {
  position: relative;
  transition: all 0.5s linear;
}
.product-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.product-box .fa-heart,
.product-box .fa-cart-plus,
.fa-circle-info {
  display: none;
}
.product-box:hover .fa-heart,
.product-box:hover .fa-cart-plus,
.product-box:hover .fa-circle-info {
  display: block !important ;
}
.product-box .icons {
  position: absolute;
  top: 5px;
  right: 5px;
}
.product-box .icons .fa-heart {
  color: gray;
  cursor: pointer;
  transition: all 0.3s ease;
  --animation-delay: 300ms;
}
.product-box .icons .fa-heart:hover {
  color: red !important;
  transform: scale(1.2);
}
.product-box .icons .fa-cart-plus {
  color: gray;
  cursor: pointer;
  transition: all 0.3s ease;
  --animation-delay: 150ms;
}
.product-box .icons .fa-circle-info {
  color: gray;
  cursor: pointer;
  transition: all 0.3s ease;
  --animation-delay: 50ms;
}
.product-box .icons .fa-cart-plus:hover {
  color: red !important;
  transform: scale(1.2);
}
.product-box .icons .fa-circle-info:hover {
  color: green !important;
  transform: scale(1.2);
}
